<app-header></app-header>

<main class="container profile-page">
    <div class="profile-card">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="mb-4">
                            <h2 class="card-title mb-4 text-center">Profile Card</h2>
                            <p class="card-text"><strong>Name: </strong>{{userName}}</p>
                            <p class="card-text"><strong>Age: </strong>{{userAge}}</p>
                            <p class="card-text"><strong>Description: </strong>{{userDescription}}</p>
                        </div>

                        <div class="mt-3">
                            <h3 class="card-title mb-4 text-center">User Details</h3>
                            <div class="mb-3">
                                <label for="updateName" class="form-label">Update Name</label>
                                <input type="text" class="form-control" id="updateName" placeholder="Enter new name"
                                    [(ngModel)]="userName">
                            </div>
                            <div class="mb-3">
                                <label for="updateAge" class="form-label">Update Age</label>
                                <input type="number" class="form-control" id="updateAge" placeholder="Enter new age"
                                    [(ngModel)]="userAge">
                            </div>
                            <div class="mb-3">
                                <label for="updateDescription" class="form-label">Update Description</label>
                                <input type="text" class="form-control" id="updateDescription"
                                    placeholder="Enter new description" [(ngModel)]="userDescription">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<app-footer></app-footer>